* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: grey;
    background-color: #0b0c0f; 
    font-family: rubik, sans-serif;
}

.navbar {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    padding: 30px 38px;
    height: 8.5vh;
}

.login-btn {
    padding-right: 35px;
    background-color: #0b0c0f00;
    color: #a8afbd;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.homepage{
    width: 100vw;
    height: 100vh;
    background-image: url("/Assets/images/main.jpeg");
    background-repeat: no-repeat;
    background-size: contain;
}

.container {
    padding-top: 140px;
    display: flex;
    align-items: center;
    gap: 60px;
    text-align: center;
    justify-content: center;
}

.card ul{
    list-style: none;
}

