.hulu-disney {
    width: 190px;
    margin-bottom: 12px;
}

.hulu-disney-espn {
    width: 280px;
    margin-bottom: 12px;
}

.bundle {
    color: #00ED82;
    margin-bottom: 40px;
}

.title1 {
    color: white;
    font-size: 22px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.title2 {
    color: white;
    font-size: 22px;
    margin-bottom: 13px;
    margin-top: 10px;
}

.get-both-btn {
    margin-top: 10px;
    cursor: pointer;
    background-color: #00ED82;
    border-radius: 5px;
    padding: 12px 60px;
}

.terms {
    font-size: 14px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    color: #ffffff;
    filter: brightness(90%);
}

.sign-up {
    font-size: 16px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    color: #ffffff;
    filter: brightness(90%);
}

.homepage-footer {
    justify-content: center;
    text-align: center;
}

.allplans {
    color: #00ED82;
    margin-bottom: 20px;
    margin-top: 170px;
    font-size: 14px;
}

.all-love {
    color: #ffffff;
    margin-bottom: 18px;
    font-weight: bold;
    font-size: 48px;
}

.hpf-p {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 60px;
}

.container2 {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.card1 {
    position: relative;
}

.card1:hover {
    border: 2px solid #FFFFFF99;
    border-radius: 15px;
}

.trial {
    position: absolute;
    top: 0;
}

.seasons {
    color: #ffffff;
    margin-top: 25px;
    margin-left: 20px;
    font-size: 17px;
}

.category {
    color: #ffffff;
    margin-top: 6px;
    margin-left: 20px;
    font-size: 26px;
}

.family-guy, .prey, .murders, .sopranos{
    border-radius: 15px;
    height: 50vh;
    filter: brightness(70%);
}

.premiump {
    display: flex;
    color: #FFFFFF99;
    font-size: 10px;
    margin-top: 10px;
    position: relative; left: 1300px;
    filter: brightness(80%);
}

.section2-footer {
    text-align: center;
}

.hulu-live {
    color: #1CE783;
    font-size: 12px;
    margin-top: 70px;
    margin-bottom: 20px;
}

.live-tv-makes {
    color:#ffffff;
    font-size: 46px;
    margin-bottom: 15px;
}

.long-p {
    color: #FFFFFF;
    filter: brightness(90%);
    margin-bottom: 18px;
    font-size: 18px;
    line-height: 1.32;
}

.get-hulu-btn {
    cursor: pointer;
    color: #000000;
    font-weight: bold;
    background-color: #1CE783;
    padding: 14px 24px;
    border-radius: 4px;
    margin-bottom: 12px;
}

.hulu-with-ads {
    font-size: 10px;
    color: #FFFFFF99;
    margin-bottom: 20px;
    line-height: 1;
}

.btn {
    cursor: pointer;
    text-decoration: underline;
}

.view-channels {
   font-size: 16px; 
   letter-spacing: .6px;
   line-height: 1;
}

.view-channels-btn {
    cursor: pointer;
    background-color: #0b0c0f;
    color: #FFFFFF;
    margin-bottom: 60px;
    text-decoration: underline;
}

.section3 {
    background-image: url(/Assets/images/sportsssss.png);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
}

.container3 {
    padding-top: 210px;
    padding-left: 330px;
}

.live-breaking-biggest {
    display: flex;
    color: #FFFFFF;
    gap: 30px;
    font-size: 14px;
    margin-bottom: 50px;
    filter: brightness(80%);
}

.live-sports2 {
    color: #FFFFFF;

}

.header-live-sports {
    font-size: 40px;
    margin-bottom: 25px;
}

.long-p1 {
    line-height: 1.5;
    font-size: 18px;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.mini-logos {
    display: flex;
    gap: 25px;
    margin-bottom: 30px;
}

.cbs-img, .espn-img, .fs1-img, .network-img {
    border-radius: 100px;
    height: 5vh;
}

.live-tv-plan-required {
    color: #FFFFFF99;
    font-size: 10px;
}

.select-your-plan {
    color: #FFFFFF;
    text-align: center;
    border-bottom: 1px solid grey;
    margin: 0px 310px;
}

.your-plan {
    font-size: 48px;
    padding-bottom: 15px;
}

.no-hidden-fees {
    margin-top: 10px;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 30px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
opacity: 0;
width: 0;
height: 0;
}

/* The slider */
.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: #1CE783;
}

input:focus + .slider {
box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}

.bundles {
    display: flex;
    gap: 70px;
    height: 200px;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid grey;
    margin: 25px 310px 0px 310px;
}

.toggle-section {
    margin-top: 55px;
    display: flex;
    gap: 15px;
}

.base-plan {
    text-align: center;
}

.base-p {
    color: #FFFFFF;
}

.bundle-p {
    color: #FFFFFF;
}

.hulu-logo1 {
    margin-top: 20px;
    height: 1.2svh;
}

.hulu-disney-espn1 {
    height: 4vh;
}

.bundle-card1 {
    text-align: center;
    align-items: center;
}

.bundle-card2 {
    margin-top: 48px;
    text-align: center;
    align-items: center;
}

 .most-popular-btn {
    padding: 10.5px 27px;
    background-color: #1CE783;
    border-radius: 100px;
    margin-bottom: 20px;
}

.most-popular-p {
    font-size: 9px;
    letter-spacing: 1px;
}

.thirtee-day-free-trial {
    color: #FFFFFF99;
}


.thirtee-day-free-trial2 {
    color: #FFFFFF99;

}

.seven-99-month {
    height: 40px;
    padding: 0px 100px;
    background-color: #FFFFFF;
    color: #040405;
    border-radius: 4px;
    letter-spacing: 0.6px;
    cursor: pointer;
}

.seventeen-99-month {
    margin-top: 20px;
    height: 40px;
    padding: 0px 100px;
    background-color: #FFFFFF;
    color: #040405;
    border-radius: 4px;
    letter-spacing: 0.6px;
    cursor: pointer;
    margin-bottom: 35px;
}

.hulu-with-ads1 {
    margin-top: 3px;
    color: #FFFFFF;
    font-weight: bold;
    margin-bottom: 17px;
}

.hulu-no-ads {
    margin-top: 3px;
    color: #FFFFFF;
    font-weight: bold;
}

.monthly-payment {
    font-weight: bold;
    letter-spacing: .8px;
}

.table-form {
    display: flex;
    height: 80px;
    align-items: center;
    border-bottom: 1px solid grey;
    margin: 0px 310px;
    color: #FFFFFF;
    font-size: 14px;
}

.monthly-price {
    line-height: 1.4;
    font-weight: 400;
    filter: brightness(90%);
}

.price1 {
    padding-left: 540px;
    line-height: 1.4;
    font-weight: 400;
    filter: brightness(90%);
}

.price2 {
    padding-left: 310px;
    line-height: 1.4;
    font-weight: 400;
    filter: brightness(90%);
}

.arrow1-row1 {
    height: 30px;
    padding-bottom: 4px;
    padding-left: 290px;
}

.arrow2-row1 {
    height: 30px;
    padding-bottom: 4px; 
    padding-left: 360px;
}

.arrow1-row2 {
    height: 30px;
    padding-bottom: 4px;
    padding-left: 380px;
}

.arrow2-row2 {
    height: 30px;
    padding-bottom: 4px; 
    padding-left: 357px;
}

.arrow1-row3 {
    height: 30px;
    padding-bottom: 4px;
    padding-left: 390px;
}

.arrow2-row3 {
    height: 30px;
    padding-bottom: 4px; 
    padding-left: 353px;
}

.arrow1-row4 {
    height: 30px;
    padding-bottom: 4px;
    padding-left: 206px;
}

.arrow2-row4 {
    height: 30px;
    padding-bottom: 4px; 
    padding-left: 353px;
}

.arrow1-row5 {
    height: 30px;
    padding-bottom: 4px;
    padding-left: 390px;
}

.arrow2-row5 {
    height: 30px;
    padding-bottom: 4px; 
    padding-left: 355px;
}

.arrow1-row6 {
    height: 30px;
    padding-bottom: 4px;
    padding-left: 350px;
}

.arrow2-row6 {
    height: 30px;
    padding-bottom: 4px; 
    padding-left: 355px;
}

.dash {
    padding-left: 360px;
}

.arrow2-row7 {
    height: 30px;
    padding-bottom: 4px; 
    padding-left: 360px;  
}

.dash1 {
    padding-left: 485px;
}

.arrow2-row8 {
    height: 30px;
    padding-bottom: 4px; 
    padding-left: 360px;  
}

.for-current-reason {
    height: 100px;
    border-bottom: 1px solid grey;
    margin: 0px 310px;
    color: #FFFFFF;
    font-size: 10px;
}

.for-p {
    padding-top: 15px;
}

.show-odd-ons {
    height: 80px;
    display: flex;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid grey;
    margin: 0px 310px 45px 310px;
}

.show-p {
    letter-spacing: .7px;
}

.drop-down-arrow {
    padding-left: 7px;
    cursor: pointer;
}

.footer {
    background-color: #f6f7f8;
    height: 500px
}

.footer-section1 {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align:  left;
    height: 325px;
    border-bottom: 1.5px solid lightgrey;
    margin: 0 290px;
    overflow-y: hidden;
}

.heading {
    font-size: 14px;
    font-weight: bold;
    color: #586174;
}

.card-text {
    color: #586174;
    font-size: 14px;
    margin-bottom: 12px;
    margin-top: 7px;
}

.card-text a {
    text-decoration: none;
    color: #586174;
}

.browse {
 padding-bottom: 100px;
 width: 200px;
}

.shows {
    padding-bottom: 85px;
    padding-top: 60px;
    width: 200px;
}

.max {
    padding-bottom: 83px;
    width: 200px;
}

.disney {
    padding-bottom: 66px;
    width: 180px;
}

.help {
    padding-bottom: 100px;
    width: 240px;
    padding-left: 40px;
}

.about-us {
    padding-bottom: 75px;
    width: 200px;
}

.footer-section2 {
    height: 80px;
    display: flex;
    gap: 30px;
    margin: 0px 290px;
    padding-top: 40px;
}

.fb {
    height: 18px;
}

.twitter {
    height: 18px;
}

.youtube {
    height: 18px;
}

.instagram {
    height: 18px;
}

.footer-section3 {
    display: flex;
    justify-content: center;
    gap: 50px;
    height: 65px;
    padding-top: 20px;
    margin: 0px 290px;
    font-size: 12px;
    align-items: center;
}

.footer-section3 a {
    text-decoration: none;
}

.about-ads {
    padding-bottom: 7px;
}

.blue-icon-footer {
    padding-right: 3px;
}

.long-p1