.hulu-disney {
    width: 190px;
    margin-bottom: 12px;
}

.hulu-disney-espn {
    width: 280px;
    margin-bottom: 12px;
}

.bundle {
    color: #00ED82;
    margin-bottom: 40px;
}

.title1 {
    color: white;
    font-size: 22px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.title2 {
    color: white;
    font-size: 22px;
    margin-bottom: 13px;
    margin-top: 10px;
}

.get-both-btn {
    margin-top: 10px;
    cursor: pointer;
    background-color: #00ED82;
    border-radius: 5px;
    padding: 12px 60px;
}

.terms {
    font-size: 14px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    color: #ffffff;
    filter: brightness(90%);
}

.sign-up {
    font-size: 16px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    color: #ffffff;
    filter: brightness(90%);
}

.homepage-footer {
    justify-content: center;
    text-align: center;
}

.allplans {
    color: #00ED82;
    margin-bottom: 20px;
    margin-top: 170px;
    font-size: 14px;
}

.all-love {
    color: #ffffff;
    margin-bottom: 18px;
    font-weight: bold;
    font-size: 48px;
}

.hpf-p {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 60px;
}

.container2 {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.card1 {
    position: relative;
    border: transparent;
}

.trial {
    position: absolute;
    top: 0;
}

.seasons {
    color: #ffffff;
    margin-top: 25px;
    margin-left: 20px;
    font-size: 17px;
}

.category {
    color: #ffffff;
    margin-top: 6px;
    margin-left: 20px;
    font-size: 26px;
}

.family-guy, .prey, .murders, .sopranos{
    border-radius: 15px;
    height: 50vh;
    filter: brightness(70%);
}

.premiump {
    display: flex;
    color: #FFFFFF99;
    font-size: 10px;
    margin-top: 10px;
    position: relative; left: 1300px;
    filter: brightness(80%);
}

.section2-footer {
    justify-content: center;
    text-align: center;
}

.hulu-live {
    color: #1CE783;
    font-size: 12px;
    margin-top: 70px;
    margin-bottom: 20px;
}

.live-tv-makes {
    color:#ffffff;
    font-size: 46px;
    margin-bottom: 15px;
}

.long-p {
    color: #FFFFFF;
    filter: brightness(90%);
    margin-bottom: 18px;
    font-size: 18px;
    line-height: 1.32;
}

.get-hulu-btn {
    color: #000000;
    font-weight: bold;
    background-color: #1CE783;
    padding: 14px 24px;
    border-radius: 4px;
    margin-bottom: 12px;
}

.hulu-with-ads {
    font-size: 10px;
    color: #FFFFFF99;
    margin-bottom: 20px;
    line-height: 1;
}

.btn {
    cursor: pointer;
}

.view-channels {
   font-size: 16px; 
   letter-spacing: .6px;
   line-height: 1;
}

.view-channels-btn {
    cursor: pointer;
    background-color: #0b0c0f;
    color: #FFFFFF;
    margin-bottom: 60px;
}